AquiteturaDoProjeto.odt
gitClonesTestes
graficosCommits
graficosLoc
graficosImports 
AnotacoesCalculoDeAutoria.odt
DOACalculator.java
logicaCalculoDoa.md
codigosAntigos
limpagitclone.py 
__pycache__
token.txt
linksDeReferencia.txt
TESTE PROMPT.txt